:root {
  --primary-color: #4e47ff;
  --text-color: #ffffff;
  --heading-color: #252432;
  --text-color2: #2524328a;
  --other-color: #000000;
  --btn-hover-color: #3f3ad7;
  --black-color-50: #0000007c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #f5f8ff;
}

/* Common Style */
.btn {
  font-size: 16px;
  font-weight: bold;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  color: var(--text-color);
  background-color: var(--primary-color);
}

.btn:hover {
  background-color: #3f3ad7;
  transition: 0.4s;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/Hero-bg.png);
  background-size: cover;
  background-position: center;
}

.header_top {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 0;
}

.header_top h3 {
  color: var(--primary-color);
  font-size: 34px;
  font-weight: 900;
}

.header_content_items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_content_item h1 {
  font-size: 65px;
  font-weight: 700;
  text-align: center;
  color: var(--heading-color);
  margin-bottom: 37px;
}

.banner_btn {
  display: flex;
  justify-content: center;
}

/* Action Style */
.sec_action {
  display: flex;
  justify-content: center;
  margin: 116px auto;
}

.action_items {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 220px;
}

.action_item h3 {
  font-size: 42px;
  font-weight: 700;
  color: var(--heading-color);
  margin-bottom: 23px;
}

.action_item p {
  font-size: 24px;
  font-weight: 400;
  color: var(--text-color2);
  margin-bottom: 24px;
}

.action_item_img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
}

/* Productive Users Section Style */
.sec_productive_user {
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 80px;
  border-radius: 24px;
  background-color: #e4e6ff;
  margin-bottom: 116px;
}

.productive_user_title {
  font-size: 38px;
  font-weight: 700;
  color: var(--heading-color);
  text-align: center;
  margin-bottom: 40px;
}

.productive_user_details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user_details {
  text-align: center;
}

.user_details h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  font-weight: 700;
  color: var(--primary-color);
}

.user_details p {
  font-size: 20px;
  font-weight: 400;
  color: #0000007c;
}

/* Review Section */
.sec_review {
  display: flex;
  justify-content: center;
  margin-bottom: 116px;
}

.all_reviewer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.review_items h2 {
  font-size: 42px;
  font-weight: 700;
  color: var(--heading-color);
  text-align: center;
  margin-bottom: 50px;
}

.review_item {
  width: 365px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid #00000020;
}

.review_item img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  margin-bottom: 24px;
}

.review_item h4 {
  font-size: 24px;
  font-weight: 600;
  color: #1e1e1e;
  margin-bottom: 8px;
}

.review_item p {
  font-size: 16px;
  font-weight: 400;
  color: #1e1e1e;
  margin-bottom: 24px;
}

.reviewer_details img {
  width: 40px;
  height: 40px;
  border-radius: 999px;
}

.reviewer_details {
  display: flex;
  gap: 6px;
}

.reviewer_detail h5 {
  font-size: 16px;
  font-weight: 600;
  color: #757575;
}

.reviewer_detail span {
  font-size: 16px;
  font-weight: 400;
  color: #b3b3b3;
}

/* Focus Section Style */
.sec_focus {
  display: flex;
  justify-content: center;
  margin-bottom: 116px;
}

.sec_focus_content {
  max-width: 1140px;
  padding: 71px 150px;
  border-radius: 14px;
  text-align: center;
  background-color: #ffffff;
}

.sec_focus_content h2 {
  font-size: 50px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
}

.sec_focus_content p {
  font-size: 16px;
  font-weight: 400;
  color: #00000078;
  margin-bottom: 20px;
}

.sec_focus_content button {
  margin-bottom: 20px;
}

.focus_content_image img {
  border-radius: 48px;
  width: 840px;
  height: 365px;
}

/* Newsletter Section Style */
.sec_newsletter {
  display: flex;
  justify-content: center;
}

.newsletter_title {
  width: 528px;
}

.newsletter_title h2 {
  font-size: 97px;
  font-weight: 700;
  color: var(--other-color);
}

.newsletter_items {
  width: 1140px;
  display: flex;
  justify-content: space-around;
  gap: 115px;
}

.newsletter_form {
  width: 497px;
}

.newsletter_form form label {
  font-size: 18px;
  font-weight: 600;
  display: block;
  color: var(--other-color);
  margin-bottom: 10px;
}

.newsletter_form form input[type='email'],
input[type='text'] {
  width: 497px;
  font-size: 20px;
  font-weight: 400;
  color: #0000007e;
  padding: 20px 32px;
  border: 1px solid #00000027;
  border-radius: 10px;
  margin-bottom: 20px;
}

.newsletter_form form textarea {
  width: 497px;
  height: 135px;
  padding: 20px 32px;
  color: #0000007e;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid #00000027;
  border-radius: 10px;
  margin-bottom: 20px;
}

.newsletter_form form input[type='submit'] {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  border-radius: 19px;
  background-color: var(--primary-color);
  padding: 19px 0;
  width: 497px;
}

.newsletter_form form input[type='submit']:hover {
  background-color: #3f3ad7;
  transition: 0.4s;
}
